/* Colors */
$primary-bg: #001730;
$red: #FE4A49;
$font-color: #E5E5E5;
$secondary-bg: #122A43;
$js-icon: #F6DD3B;
$css-icon: #1E73B4;
$scss-icon: #C76395;
$html-icon: #E15030;
$project-title: #C4C4C4;

/* Fonts */
$primary-font: 'Montserrat', sans-serif;